body {
  /* Position of childrens */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Texts */
  font-family: sans-serif;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  max-width: 500px;
}
form div.form-part {
  margin: 6px 0 1.5em 0;
}
form fieldset {
  margin-bottom: 1em;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}

form #points-information {
  display: grid;
  grid-template-columns: 1fr 5fr;
  justify-content: space-between;
  gap: 5px;
  column-gap: 40px
}
form #points-information div {
  display: flex;
}
form #points-information input {
  margin-bottom: 5px;
  min-width: 0;
}
form .label-capitalize {
  display: none; 
}
form input#label[type=checkbox]:checked + label + div.label-capitalize {
  display: block;
}
form option:hover {
  background-color: rgb(0, 0, 0);
}
form .submit-button {
  padding: 5px 8px 4px 8px;
  width: fit-content;
}
.pointer {
  cursor: pointer;
}
#result {
  display: none;
  flex-direction: column;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  max-width: 500px;
}
#result fieldset {
  margin-bottom: 1em;
}
#result img {
  width: 100%;
}
#result .embed {
  border: solid 1px black;
  border-radius: 10px;
  margin-top: 1em;
  padding: 10px;
}
#result .embed p {
  margin: 5px 5px 5px 0;
}
#result .embed .code { /* Code Box */
  display: flex;
  flex-direction: row;
  background-color: #25292e;
  justify-content: space-between;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  width: auto;
  
}
#result .embed .code div {
  display: flex;
  align-items: center;
  width: 75%;
}
#result .embed .md-code code:nth-child(1) { color: #acb2bf; }
#result .embed .md-code code:nth-child(2), #result .embed .md-code code:nth-child(4) { color: #d86d61; }
#result .embed .md-code code:nth-child(3) { color: #c17add; text-decoration: underline;}
#result .embed .html-code code:nth-child(1), #result .embed .html-code code:nth-child(4), #result .embed .html-code code:nth-child(8) { color: #acb2bf; }
#result .embed .html-code code:nth-child(2) { color: #d86d61; margin-right: 5px;}
#result .embed .html-code code:nth-child(3) { color: #cc9a68;}
#result .embed .html-code code:nth-child(5), #result .embed .html-code code:nth-child(6), #result .embed .html-code code:nth-child(7) { color: #9cc279;}
#result .embed .html-code code:nth-child(6) { text-decoration: underline;}

#result .embed code#insert_url { 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 250px;
}


